/* Minification failed. Returning unminified contents.
(562,16): run-time error CSS1036: Expected expression, found ';'
 */
/**************************************************
说明：
1：我们建议你通过只改变css的方式来制作新的皮肤模板。当然，页面的部分代
码你也是可以更改的，例如一些图片的地址。但是，请你在递交作品的时候，请同时
提交对页面部分代码的修改备注和说明。以便我们了解。
2：为了保证页面的兼容性，请你分别在IE和Firefox中采用不同分辨率分别查看你的页面，以便保证页面
对浏览器的兼容性。
3：请你随时关注官方网站(http://space.cnblogs.com/group/bs/)。以便获得最新的通知和说明
时间：2008-3-20
作者：杨正祎
**************************************************/

/**************************************************
第一部分：所有的模板都使用的公共样式。公告样式是为了更好的向前和向后兼容。
如果不符合你皮肤的要求，你可以在后面通过更高的优先级覆盖着这些样式，但是
你不能删除这些样式。
**************************************************/
#EntryTag {
	margin-top: 20px;
	font-size: 9pt;
	color: gray;
}
.topicListFooter {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
}
#divRefreshComments{
	text-align: right; 
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 9pt;
}
/*****第一部分结束*******************************/

/**************************************************
第二部：公共样式（全局样式）。公共会对所有页面的标签都起作用。这个部分你
可以随意的更改，并不会牵扯到其他的皮肤模板。但是每次更改都要注意你的皮肤
模板所有页面的变化。因为它们是全局的。
**************************************************/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	color: #464646;
	font-family: "verdana","ms song","微软雅黑", "宋体","Arial","Helvetica", "sans-serif";
	font-size: 9pt;
	min-height: 101%;
	background: url('/Skins/insideDotNet/images/top.gif') no-repeat left top;
	background-color: #fff;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
ul {
	word-break: break-all;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
a:link {
	color: #D84D2D;
	text-decoration: none;
}
a:visited {
	color: #D84D2D;
	text-decoration: none;
}
a:hover {
	/*background-color:#D84D2D;*/
	/*color:#fff;*/
	text-decoration: underline;
}
a:active {
	color: #D84D2D;
	text-decoration: none;
}
.clear {
	clear: both;
}
/*****第二部分结束*******************************/

/**************************************************
第三部分：各个页面元素的样式。你可以根据需要随意的更改，并不会牵扯到其他
的皮肤模板。这个部分是最能展现你想象力的部分。其中头部和侧边栏部分是此皮
肤公共的部分。而每个页面特有的部分会有相应的注释和说明。
**************************************************/
/*****home和头部开始**************************/

#home {
	margin: 0 auto;
	min-width: 930px;
	position:relative; 
	background:transparent url('/Skins/insideDotNet/images/back-wrapper.gif') repeat-x scroll left 71px;
}
#header {

	height:100px;
	padding-top:60px;
}
#blogTitle {
	height: 80px;
	color:#333;
	width:54%;
	float:left; 
	padding-left:50px;
}

#blogTitle a:link,#blogTitle a:visited,#blogTitle a:active{
	color:#D84D2D;
}
#blogTitle a:hover{
	background-color:transparent ;
	color:#D84D2D;
	text-decoration:underline;
}


#blogTitle h1 {
	font-size: 200%;
	font-weight: bold;
	line-height: 1.5em;
	clear:both;
	margin-top: 10px;
	float: left;
	width:100%;
}
#blogTitle h2 {
	clear:both;
	line-height: 1.5em;
	float: left;
	width:100%;
}
#lnkBlogLogo{
	display:none;
}
#blogLogo {
	float: right;
}
#navigator {
float:right; 
margin-top:15px;
width:40%;
}
#navList {
	float: right;

}
#navList li {
	float: left;
}
#navList a {
	float: left;
	padding-top: 8px;
	margin-right:15px;
}
#navList a:link, #navList a:visited, #navList a:active {
	color: #666;
	text-decoration: none;
}
#navList a:hover {
	color:#C01920;
	background-color:#F4F4F4;
}

.aHeaderXML img{
	display:none;
}

.blogStats {
	float: right;
	color: #bbb;
	margin-top: 8px;
	margin-right: 25px;
	text-align: right;
}
/*****home和头部结束**************************/

/*****主页文章列表开始**************************/
#main{
	width: 92%;
	min-width: 950px;
	min-height:500px;
	_height:500px;
	text-align: left;

	margin:0 auto;
	background: url('/Skins/insideDotNet/images/bottom.gif') no-repeat right bottom;
}
#mainContent .forFlow{
	margin-left: 24em;
	float: none; 
	width: auto;
}

#mainContent {
	min-height: 200px;
	padding: 0px 0px 10px 0;
	*padding-top:10px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	
	float: right;
	margin-left: -25em;
	width: 100%
}
.day {
	min-height: 10px;
	_height: 10px;
	margin-bottom: 20px;
	border-bottom:1px solid #DDDDDD;
	padding-bottom: 15px;
}
.dayTitle {
	width: 100%;
	color: #D8692D;

	font-weight: bold;
	line-height: 1.5em;
	font-size: 110%;
	margin-top: 3px;
	margin-bottom: 10px;

	clear:both;
	text-align:center;

}
.postTitle {
	font-size: 120%;
	float: right;
	line-height: 1.5em;
	width: 100%;
	clear:both;
}

.postCon {
	float: right;
	line-height: 1.5em;
	width: 100%;
	clear:both;
	padding: 10px 0;
}
.postDesc {
	float: right;
	width: 100%;
	clear:both;
	text-align: right;
	padding-right: 5px;
	color: #666;
	margin-top: 5px;
}
.postDesc a:link, .postDesc a:visited, .postDesc a:active {
	color: #666;
}
.postDesc a:hover {
background-color:#D84D2D;
color:#fff;
text-decoration: none;
}
.postSeparator {
	clear: both;
	height: 5px;
	width: 100%;
	clear:both;
	float: right;
	margin: 0 auto 15px auto;
	border-bottom:1px dotted #ddd;
}
/*****主页文章列表开始**************************/

/*****侧边栏开始********************************/
#sideBar {
	width: 230px;
	min-height: 200px;
	padding: 16px 0 0px 5px;
	float: left;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	color:#88866F;
}
.newsItem .catListTitle {
	display: none;
}
.newsItem {
	padding: 15px 0 5px 0px;
	margin-bottom: 8px;
}
/**日历控件样式开始**/
#calendar {
	width: 229px;
}
#calendar .Cal {
	width: 100%;
	line-height: 1.5em;
}
.Cal {/**日历容器table**/
	border: none;
	color: #666;
}
#calendar table a:link, #calendar table a:visited, #calendar table a:active {
	font-weight: bold;
	color:#D84D2D
}
#calendar table a:hover {
	color: white;
	text-decoration: none;
	background-color: #D84D2D;
}
.CalTodayDay{/**今天日期样式**/
	color:#D84D2D;
}
#calendar .CalNextPrev a:link,#calendar  .CalNextPrev a:visited, #calendar .CalNextPrev a:active {/**上个月、下个月箭头样式**/
	font-weight: bold;
	color:#D84D2D
}
#calendar .CalNextPrev a:hover{
	color: white;
	text-decoration: none;
	background-color: #D84D2D;	
}
.CalDayHeader{
	border-bottom:1px solid #ccc;	
}
.CalTitle{/**日历年月头部样式**/
	width:100%;
	color:black;
	border-bottom:1px solid #D84D2D;	
}
/**日历控件样式结束**/
#leftcontentcontainer ul a:link,#leftcontentcontainer ul a:visited,#leftcontentcontainer ul a:active{
	color:#88866F;
}
#leftcontentcontainer ul a:hover{
	background-color:#D84D2D;
	color:#fff
}

.catListTitle {
	font-weight: bold;
	line-height: 1.5em;
	font-size: 110%;
	margin-top: 15px;
	text-align: center;
	border-bottom:1px solid #D84D2D;
	color:#666;
	margin-bottom:5px;
}
.catListComment {
	line-height: 1.5em;
}
.divRecentComment {
	text-indent: 1em;
}
#sideBarMain ul {
	line-height: 1.5em;
}
/*****侧边栏结束********************************/


/****查看文章页面开始*************************/
#topics {
	width: 100%;
	min-height: 200px;
	padding: 0px 0px 10px 0;
	float: left;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
#topics .postTitle {
	font-size: 130%;
	font-weight: bold;
	float: left;
	line-height: 1.5em;
	width: 100%;
	padding-left: 5px;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #ddd;
}
.postBody {
	padding: 5px 2px 5px 5px;
	line-height: 1.5;
	color: #000;
	border-bottom: 1px solid black;
}
#EntryTag {

}
#EntryTag a {
	margin-left: 5px;
}
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active {
	color: #D84D2D;
	text-decoration: none;
}
#EntryTag a:hover {
	background-color:#D84D2D;
	color:#fff;
	text-decoration: none;
}
#topics .postDesc {
	float: right;
	width: 100%;
	text-align: right;
	padding-right: 5px;
	color: #666;
	margin-top: 5px;
}
.feedback_area_title {
	font-weight: bold;
	margin-top: 20px;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
	padding-left: 8px;
}
.louzhu {
background:transparent url('/Skins/insideDotNet/images/icoLouZhu.gif') no-repeat scroll right top;
padding-right:16px;
}
.feedbackListSubtitle {
	color: #666;
}
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active {
	color: #666;
	font-weight: normal;
}
.feedbackListSubtitle a:hover {
	background-color:#D84D2D;
	color:#fff;
	text-decoration: none;
}
.feedbackManage {
	width: 200px;
	text-align: right;
	float: right;
}
.feedbackCon {
	border-bottom: 1px solid #ccc;
	background: url('/Skins/insideDotNet/images/comment.gif') no-repeat 5px 0px;
	padding: 15px 18px 10px 40px;
	min-height: 35px;
	_height: 35px;
	margin-bottom: 1em;
	line-height: 1.5em;
	width:94%;
}
#divRefreshComments {
	text-align: right;
	margin-bottom: 10px;
}
.commenttb {
	width: 320px;
}
/****查看文章页面开始*************************/

/****列表页面开始******************************/
.entrylistTitle,.PostListTitle,.thumbTitle{/**几个分类列表的标题样式**/
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid #D8692D;
	text-align: right;
	padding-bottom: 3px;
	padding-right: 10px;
	color:#D8692D;
}

.entrylistDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.entrylistItem {
	min-height: 20px;
	_height: 20px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	width: 100%;
}
.entrylistPosttitle {
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	line-height: 1.5em;
	width: 100%;
	padding-left: 5px;

}
.entrylistPosttitle a:link,.entrylistPosttitle a:visited,.entrylistPosttitle a:active{
		color:#D8692D;
}
.entrylistPosttitle a:hover {
	color:#18657F;
	text-decoration: none;
}
.entrylistPostSummary {
	margin-top: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
}
.entrylistItemPostDesc {
	text-align: right;
	color: #666;
}
.entrylistItemPostDesc a:link, .entrylistItemPostDesc a:visited, .entrylistItemPostDesc a:active {
	color: #666;
}
.entrylistItemPostDesc a:hover {
	color: #f60;
}
.entrylist .postSeparator {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
}

.pager {
	text-align: right;
	margin-right: 10px;
}
.PostList {
	border-bottom: 1px solid #ddd;
	clear: both;
	min-height: 1.5em;
	_height: 1.5em;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
}
.postTitl2 {
	float: left;
}
.postDesc2 {
	color: #666;
	float: right;
	margin-right: ;
}
.postText2 {
	clear: both;
	color: #666;
}
.pfl_feedback_area_title {
	text-align: right;
	line-height: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
.pfl_feedbackItem {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
.pfl_feedbacksubtitle {
	width: 100%;
	border-bottom: 1px dotted #666;
	height: 1.5em;
}
.pfl_feedbackname {
	float: left;
}
.pfl_feedbackManage {
	float: right;
}
.pfl_feedbackCon {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pfl_feedbackAnswer {
	color: #F40;
	text-indent: 2em;
}
.tdSentMessage {
	text-align: right;
}
.errorMessage {
	width: 300px;
	float: left;
}
.mySearch #q {
	height: 1.4em;
	width: 175px;
}
/****列表页面结束******************************/

/****相册页面开始******************************/
.divPhoto {
	border: 1px solid #D8692D;
	padding: 2px;
	margin-right: 10px;
}

.thumbDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
/****相册页面开始******************************/


/*****留言页面开始*****************************/
#footer {
	text-align: center;
	height: 41px;
	margin-top: 10px;
	padding-top:40px;
}
/*留言查看页面的个人信息*/
.personInfo {
	margin-bottom: 20px;
}
/*留言分页区域*/
.pages {
	text-align: right;
}
/*****留言页面结束*****************************/
/***我的短信***/
#divNewMsg{
	text-align:center;
	font-weight:bold;
}
/***我的短信结束***/
/*我的闪存区域*/
#MyIng{
	margin-bottom:15px;
}

.ing_title{
	clear:both;
	line-height: 1.5em;
	text-align: center;
	border-bottom:1px solid #D84D2D;
	margin-bottom:5px;
}

.ing_title a:link,.ing_title a:visited,.ing_title a:active{
	color:#666;	
	font-weight: bold;
	font-size: 110%;
}
.ing_title a:hover{
	background-color:transparent ;
	color:#D84D2D;
}


.ing_body{
	padding:auto 5px;
	line-height:1.5em;
}
/*****我的闪存区域结束*****************************/
/*****第三部分结束*******************************/

/**************************************************
第四部分：文章内容常用标签格式。这个部分是设置作者写作内容的部分。例如：
如果作者的文章用有p标签，则可通过这个对这些文章中的p标签进行设置。前面
的“.postBody”明确的指出了这里样式的作用范围。仅仅适用于文章主体部分。
建议这个不要设置过于详细的细节。因为，一些样式，一篇文章比较适合的话，
并不能保证所有的文章都适合。
**************************************************/
/*文章内部常用标签格式*/
.postBody {
	line-height: 1.5em;
	color:#393939;
	font-size:14px;
}
.postBody p,.postCon  p{
	margin: 0 auto 1em auto;
}
.postBody h2{
	font-size: 150%;
	margin: 15px auto 2px auto;
	font-weight:bold;
}
.postBody h3 {
	font-size: 120%;
	margin: 15px auto 2px auto;
	font-weight:bold;
}
.postBody h4{
	font-size:110%;
	margin:15px auto 2px auto;
	font-weight:bold;
	color:#333;
}

.postBody h5{
	font-size:100%;
	margin:15px auto 2px auto;
	font-weight:bold;
	color:#333;
}



.postBody ul,.postCon ul{
	margin-left:2em;	
}

.postBody li,.postCon li{
	list-style-type:disc;
	margin-bottom:1em;
}

.postBody blockquote{
	background:url('/Skins/insideDotNet/images/comment.gif') no-repeat 25px 0px;
	padding:10px 60px 5px 60px;
	min-height:35px;
	_height:35px;
	line-height:1.6em;
	color:#333;
}
/*****第四部分结束*******************************/



