<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.role.RightMapper">
    <resultMap id="BaseResultMap" type="com.xzit.ar.common.po.role.Right">
        <id column="right_id" property="rightId" jdbcType="INTEGER"/>
        <result column="right_name" property="rightName" jdbcType="VARCHAR"/>
        <result column="right_pos" property="rightPos" jdbcType="INTEGER"/>
        <result column="right_code" property="rightCode" jdbcType="BIGINT"/>
        <result column="right_URL" property="rightUrl" jdbcType="VARCHAR"/>
        <result column="is_public" property="isPublic" jdbcType="CHAR"/>
        <result column="state" property="state" jdbcType="CHAR"/>
        <result column="state_time" property="stateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- sql -->
    <sql id="Base_Column_List">
		right_id, right_name, right_pos, right_code, right_URL, is_public, state, state_time
	</sql>
    <sql id="Entity">
		right_id rightId, right_name rightName, right_pos rightPos, right_code rightCode,
		right_URL rightUrl, is_public isPublic, state state
	</sql>

    <!--select -->
    <select id="queryRights" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from `right` where right_name like #{queryInput} or right_URL like #{queryInput}
        order by right_URL
    </select>

    <select id="selectById" resultType="com.xzit.ar.common.po.role.Right" parameterType="java.lang.Integer">
        select
        <include refid="Entity"/>
        from `right` where right_id = #{rightId,jdbcType=INTEGER}
    </select>

    <select id="selectTopPosCode" resultType="map">
		SELECT MAX(right_pos) topPos, MAX(right_code) topCode FROM `right` WHERE right_pos=(SELECT
		max(right_pos) from `right`)
	</select>


    <select id="selectByRightUrl" parameterType="java.lang.String" resultType="com.xzit.ar.common.po.role.Right">
        SELECT
        <include refid="Entity"/>
        FROM `right` WHERE right_URL = #{rightUrl}
    </select>

    <select id="getAllRights" resultType="com.xzit.ar.common.po.role.Right">
        SELECT
        <include refid="Entity"/>
        FROM `right`
    </select>

    <select id="getIsNotPublicRights" resultType="com.xzit.ar.common.po.role.Right">
        SELECT
        <include refid="Entity"/>
        FROM `right`
        where is_public='0'
    </select>

    <!-- delete -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">delete from right
    where right_id = #{rightId,jdbcType=INTEGER}</delete>

    <!-- insert -->
    <insert id="save" parameterType="com.xzit.ar.common.po.role.Right">
        insert into `right`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rightId != null">right_id,</if>
            <if test="rightName != null">right_name,</if>
            <if test="rightPos != null">right_pos,</if>
            <if test="rightCode != null">right_code,</if>
            <if test="rightUrl != null">right_URL,</if>
            <if test="isPublic != null">is_public,</if>
            <if test="state != null">state,</if>
            <if test="stateTime != null">state_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rightId != null">#{rightId,jdbcType=INTEGER},</if>
            <if test="rightName != null">#{rightName,jdbcType=VARCHAR},</if>
            <if test="rightPos != null">#{rightPos,jdbcType=INTEGER},</if>
            <if test="rightCode != null">#{rightCode,jdbcType=BIGINT},</if>
            <if test="rightUrl != null">#{rightUrl,jdbcType=VARCHAR},</if>
            <if test="isPublic != null">#{isPublic,jdbcType=CHAR},</if>
            <if test="state != null">#{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">#{stateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <!-- update -->
    <update id="update" parameterType="com.xzit.ar.common.po.role.Right">
        update `right`
        <set>
            <if test="rightName != null">right_name = #{rightName,jdbcType=VARCHAR},</if>
            <if test="rightPos != null">right_pos = #{rightPos,jdbcType=INTEGER},</if>
            <if test="rightCode != null">right_code = #{rightCode,jdbcType=BIGINT},</if>
            <if test="rightUrl != null">right_URL = #{rightUrl,jdbcType=VARCHAR},</if>
            <if test="isPublic != null">is_public = #{isPublic,jdbcType=CHAR},</if>
            <if test="state != null">state = #{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">state_time = #{stateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where right_id = #{rightId,jdbcType=INTEGER}
    </update>
</mapper>