<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.origin.GradeMapper">
    <resultMap id="resultMap" type="com.xzit.ar.common.po.origin.Grade">
        <id column="grade_id" property="gradeId" jdbcType="INTEGER"/>
        <result column="grade_value" property="gradeValue" jdbcType="CHAR"/>
        <result column="class_num" property="classNum" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="CHAR"/>
        <result column="state_time" property="stateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="column_list">grade_id, grade_value, class_num, create_time, state, state_time</sql>

    <select id="getById" resultMap="resultMap" parameterType="java.lang.Integer">
        select
        <include refid="column_list"/>
        from grade
        where grade_id = #{gradeId,jdbcType=INTEGER}
    </select>

    <select id="getAll" resultMap="resultMap">
        select
        <include refid="column_list"/>
        from grade
        order by grade_value desc
    </select>

    <select id="loadGradeList" resultType="map">
		select grade_value value
		from grade
			order by grade_value desc
	</select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from grade
    	where grade_id = #{gradeId,jdbcType=INTEGER}
    </delete>

    <insert id="save" parameterType="com.xzit.ar.common.po.origin.Grade">
        insert into grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradeId != null">grade_id,</if>
            <if test="gradeValue != null">grade_value,</if>
            <if test="classNum != null">class_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
            <if test="stateTime != null">state_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradeId != null">#{gradeId,jdbcType=INTEGER},</if>
            <if test="gradeValue != null">#{gradeValue,jdbcType=CHAR},</if>
            <if test="classNum != null">#{classNum,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="state != null">#{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">#{stateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.xzit.ar.common.po.origin.Grade">
        update grade
        <set>
            <if test="gradeValue != null">grade_value = #{gradeValue,jdbcType=CHAR},</if>
            <if test="classNum != null">class_num = #{classNum,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="state != null">state = #{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">state_time = #{stateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where grade_id = #{gradeId,jdbcType=INTEGER}
    </update>

    <update id="increaseClassNum" parameterType="java.lang.String">
        UPDATE grade
        <set>
            class_num=class_num+1
        </set>
        WHERE grade_value=#{gradeValue}
    </update>
</mapper>