<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.album.AlbumImageMapper">
    <resultMap id="BaseResultMap" type="com.xzit.ar.common.po.album.AlbumImage">
        <result column="album_id" property="albumId" jdbcType="INTEGER"/>
        <result column="image_id" property="imageId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="getAlbumImage" parameterType="java.lang.Integer" resultType="map">

        SELECT
          i.image_path imagePath,
          i.thumb_path thumbPath,
          i.image_id imageId,
          i.image_name imageName,
          i.create_time createTime
        FROM
          image i,
          album a,
          album_image ai
        WHERE
          a.album_id=ai.album_id
          AND ai.image_id=i.image_id
          AND ai.album_id=#{albumId}
        ORDER BY
          ai.create_time DESC 

    </select>

    <insert id="save" parameterType="com.xzit.ar.common.po.album.AlbumImage">
        insert into album_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="albumId != null">album_id,</if>
            <if test="imageId != null">image_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="albumId != null">#{albumId,jdbcType=INTEGER},</if>
            <if test="imageId != null">#{imageId,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <delete id="deleteAlbumImage" parameterType="java.lang.Integer">
        DELETE FROM album_image
        WHERE image_id=#{imageId}
    </delete>

    <delete id="deleteAlbum" parameterType="java.lang.Integer">
        DELETE FROM album_image
        WHERE album_id=#{albumId}
    </delete>
</mapper>