<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.info.InformationMapper">
    <resultMap id="BaseResultMap" type="com.xzit.ar.common.po.info.Information">
        <id column="info_id" property="infoId" jdbcType="INTEGER"/>
        <result column="info_title" property="infoTitle" jdbcType="VARCHAR"/>
        <result column="theme" property="theme" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="thumb_image" property="thumbImage" jdbcType="VARCHAR"/>
        <result column="views" property="views" jdbcType="INTEGER"/>
        <result column="comments" property="comments" jdbcType="INTEGER"/>
        <result column="loves" property="loves" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_top" property="isTop" jdbcType="CHAR"/>
        <result column="info_type" property="infoType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="origin_id" property="originId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="CHAR"/>
        <result column="state_time" property="stateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
		info_id, info_title, theme, content, thumb_image, views, comments, loves, create_time,
		is_top, info_type, user_id, origin_id, state, state_time
	</sql>

    <!-- select -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from information
        where info_id = #{infoId,jdbcType=INTEGER}
    </select>

    <!-- 加载指定组织的消息列表 -->
    <select id="loadOriginInfos" resultType="map">
		select info_id infoId, info_title infoTitle from information where origin_id=#{originId}
		and info_type=#{infoType} and state='A' order by create_time desc limit 0,#{infoNum}
	</select>

    <!--组织内指定成员发布的信息-->
    <select id="loadOriginUserInfos" parameterType="com.xzit.ar.common.po.info.Information" resultType="map">
		SELECT info_id infoId,
				info_title infoTitle
		FROM information
		WHERE origin_id=#{originId}
				AND user_id=#{userId}
				AND info_type=#{infoType}
				AND state='A'
				ORDER BY create_time DESC
	</select>

    <!-- 查询消息列表 -->
    <select id="queryInfos" resultType="map">
        SELECT
        info.info_id infoId,
        info.info_title infoTitle,
        info.content content,
        info.theme theme,
        info.thumb_image thumbImage,
        info.views views,
        info.comments comments,
        info.loves loves,
        info.create_time createTime,
        info.is_top isTop,
        info.origin_id originId,
        u.user_id userId,
        u.true_name trueName,
        u.is_admin isAdmin

        FROM
        information info,
        `user` u

        <where>
            info.user_id=u.user_id
            AND info.state=#{state}
            AND info.info_type=#{infoType}
            AND info.theme LIKE '%%'
            AND ( info.info_title LIKE #{queryStr} OR u.true_name LIKE #{queryStr} )
        </where>
        ORDER BY
        info.is_top desc,
        info.create_time desc
    </select>

    <!--查询消息、作者以及组织的详情-->
    <select id="getInfoDetailById" resultType="map">
        SELECT DISTINCT
        info.info_id infoId,
        info.info_title infoTitle,
        info.content content,
        info.theme theme,
        info.thumb_image thumbImage,
        info.views views,
        info.comments comments,
        info.loves loves,
        info.create_time createTime,
        info.is_top isTop,
        info.origin_id originId,
        u.user_id userId,
        u.true_name trueName,
        u.is_admin isAdmin,
        u.introduce introduce,
        img.image_path portrait

        FROM
        information info,
        user u,
        image img
        <where>
            info.info_id=#{infoId}
            AND info.user_id=u.user_id
            AND u.image_id=img.image_id
            AND info.state='A'
        </where>
    </select>

    <!--通过userId、infoId查询信息-->
    <select id="getInfoByUserIdAndInfoId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM information
        WHERE user_id=#{userId} and info_id=#{infoId}
    </select>

    <!--通过 infoId 和 originId 查询消息-->
    <select id="getInfoByInfoIdAndOriginId" resultType="map">
        SELECT DISTINCT
        info.info_id infoId,
        info.info_title infoTitle,
        info.content content,
        info.theme theme,
        info.thumb_image thumbImage,
        info.views views,
        info.comments comments,
        info.loves loves,
        info.create_time createTime,
        info.is_top isTop,
        info.origin_id originId,
        u.user_id userId,
        u.true_name trueName,
        u.is_admin isAdmin,
        u.introduce introduce,
        img.image_path portrait

        FROM
        information info,
        `user` u,
        image img

        <where>
            info.info_id=#{infoId}
            AND info.origin_id=#{originId}
            AND info.user_id=u.user_id
            AND u.image_id=img.image_id
            AND info.state='A'
        </where>
    </select>

    <select id="getInfoByUserIdAndInfoType" resultType="map">

        SELECT
        info_id infoId,
        info_title infoTitle,
        content content,
        theme theme,
        views views,
        comments comments,
        loves loves,
        create_time createTime,
        origin_id originId
        FROM
        information
        <where>
            info_type=#{infoType}
            AND user_id=#{userId}
            AND state='A'
        </where>

        ORDER BY
        create_time DESC

    </select>

    <select id="getInfoByInfoType" resultType="map">

        SELECT
        info_id infoId,
        info_title infoTitle,
        content content,
        theme theme,
        views views,
        comments comments,
        loves loves,
        create_time createTime
        FROM
        information
        <where>
            info_type=#{infoType}
            AND state='A'
        </where>

        ORDER BY
        create_time DESC

    </select>

    <select id="getHotInfoByInfoType" resultType="map">

        SELECT
        info_id infoId,
        info_title infoTitle,
        content content,
        theme theme,
        thumb_image thumbImage,
        views views,
        comments comments,
        loves loves,
        create_time createTime
        FROM
        information
        <where>
            info_type=#{infoType}
            AND state='A'
        </where>

        ORDER BY
        views DESC ,
        comments DESC ,
        create_time DESC,
        loves DESC

    </select>

    <select id="queryInfoByVo" resultType="map">
        SELECT
        info.info_id infoId,
        info.info_title infoTitle,
        info.content content,
        info.theme theme,
        info.thumb_image thumbImage,
        info.views views,
        info.comments comments,
        info.loves loves,
        info.create_time createTime,
        info.is_top isTop,
        info.info_type infoType,
        info.state state,
        u.user_id userId,
        u.true_name trueName
        FROM
        information info,
        user u
        <where>
            info.user_id=u.user_id
            <if test="queryMap.query != null and queryMap.query != '' ">
                AND (info.info_title LIKE #{queryMap.query} OR u.true_name LIKE #{queryMap.query})
            </if>
            <if test="queryMap.state != null">
                AND (info.state = #{queryMap.state})
            </if>
            <if test="queryMap.infoType != null">
                AND (info.info_type = #{queryMap.infoType})
            </if>

        </where>
        ORDER BY
        <if test="queryMap.infoType != null">
            info.is_top DESC,
        </if>
        info.create_time DESC
    </select>

    <!-- delete -->
    <delete id="delete" parameterType="java.lang.Integer">delete from information
    where info_id = #{infoId,jdbcType=INTEGER}</delete>


    <!-- save -->
    <insert id="save" parameterType="com.xzit.ar.common.po.info.Information">
        insert into information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoId != null">info_id,</if>
            <if test="infoTitle != null">info_title,</if>
            <if test="theme != null">theme,</if>
            <if test="thumbImage != null">thumb_image,</if>
            <if test="views != null">views,</if>
            <if test="comments != null">comments,</if>
            <if test="loves != null">loves,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isTop != null">is_top,</if>
            <if test="infoType != null">info_type,</if>
            <if test="userId != null">user_id,</if>
            <if test="originId != null">origin_id,</if>
            <if test="state != null">state,</if>
            <if test="stateTime != null">state_time,</if>
            <if test="content != null">content,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoId != null">#{infoId,jdbcType=INTEGER},</if>
            <if test="infoTitle != null">#{infoTitle,jdbcType=VARCHAR},</if>
            <if test="theme != null">#{theme,jdbcType=VARCHAR},</if>
            <if test="thumbImage != null">#{thumbImage,jdbcType=VARCHAR},</if>
            <if test="views != null">#{views,jdbcType=INTEGER},</if>
            <if test="comments != null">#{comments,jdbcType=INTEGER},</if>
            <if test="loves != null">#{loves,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="isTop != null">#{isTop,jdbcType=CHAR},</if>
            <if test="infoType != null">#{infoType,jdbcType=VARCHAR},</if>
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="originId != null">#{originId,jdbcType=INTEGER},</if>
            <if test="state != null">#{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">#{stateTime,jdbcType=TIMESTAMP},</if>
            <if test="content != null">#{content,jdbcType=LONGVARCHAR},</if>
        </trim>
    </insert>

    <!-- update -->
    <update id="update" parameterType="com.xzit.ar.common.po.info.Information">
        update information
        <set>
            <if test="infoTitle != null">info_title = #{infoTitle,jdbcType=VARCHAR},</if>
            <if test="theme != null">theme = #{theme,jdbcType=VARCHAR},</if>
            <if test="thumbImage != null">thumb_image = #{thumbImage,jdbcType=VARCHAR},</if>
            <if test="views != null">views = #{views,jdbcType=INTEGER},</if>
            <if test="comments != null">comments = #{comments,jdbcType=INTEGER},</if>
            <if test="loves != null">loves = #{shares,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="isTop != null">is_top = #{isTop,jdbcType=CHAR},</if>
            <if test="infoType != null">info_type = #{infoType,jdbcType=VARCHAR},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="originId != null">origin_id = #{originId,jdbcType=INTEGER},</if>
            <if test="state != null">state = #{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">state_time = #{stateTime,jdbcType=TIMESTAMP},</if>
            <if test="content != null">content = #{content,jdbcType=LONGVARCHAR},</if>
        </set>
        where info_id = #{infoId,jdbcType=INTEGER}
    </update>
    <!--累计评论-->
    <update id="increaseComments" parameterType="java.lang.Integer">
		update information 
		set comments=(comments+1)
		where info_id=#{infoId}
	</update>

    <!--累计喜欢-->
    <update id="increaseLoves" parameterType="java.lang.Integer">
        UPDATE information
        <set>
            loves=(loves+1)
        </set>
        <where>
            info_id=#{infoId}
        </where>
    </update>
    <!--获取点赞数-->
    <select id="getLoves" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT loves
		FROM information
		WHERE info_id=#{infoId}
	</select>

    <!--累计浏览量-->
    <update id="increaseViews" parameterType="java.lang.Integer">
        UPDATE information
        <set>
            views=(views+1)
        </set>
        <where>
            info_id=#{infoId}
        </where>
    </update>

</mapper>