<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.dict.DictionaryDataMapper" >
	<resultMap id="BaseResultMap" type="com.xzit.ar.common.po.dict.DictionaryData" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
		<result column="dictdata_name" property="dictdataName" jdbcType="VARCHAR" />
		<result column="dictdata_value" property="dictdataValue" jdbcType="VARCHAR" />
		<result column="is_fixed" property="isFixed" jdbcType="CHAR" />
		<result column="is_cancel" property="isCancel" jdbcType="CHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List" >id, dict_value, dictdata_name, dictdata_value, is_fixed, is_cancel, parent_id</sql>
	<sql id="result_List" >
		id id, dict_value dictValue, dictdata_name dictdataName, dictdata_value dictdataValue,
		is_fixed isFixed
	</sql>
	
	<!-- select -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer"/>
	<select id="queryDictData" parameterType="map" resultMap="BaseResultMap">
		SELECT * from dictionary_data where dictdata_name like #{queryInput} or dictdata_value
		like #{queryInput} or dict_value like #{queryInput}
	</select>
	<!-- 获取所有 -->
	<select id="findAll" resultType="map">
		SELECT dictionary.dict_name dictName, dictionary.dict_value dictValue, dictionary_data.dictdata_name
		dictdataName, dictionary_data.dictdata_value dictdataValue FROM dictionary_data,
		dictionary where dictionary.dict_value = dictionary_data.dict_value
	</select>
	<!-- select dict相同的一系列属性 -->
	<select id="loadDictData" resultType="map" parameterType="java.lang.String">
		SELECT dictdata_name name, dictdata_value value FROM dictionary_data where dict_value
		= #{dict}
	</select>
	
	<!-- delete -->
	<delete id="delete" parameterType="java.lang.Integer" >delete from dictionary_data where id = #{id,jdbcType=INTEGER}</delete>
	
	<!-- save -->
	<insert id="save" parameterType="com.xzit.ar.common.po.dict.DictionaryData">
		insert into dictionary_data
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >id,</if>
			<if test="dictValue != null" >dict_value,</if>
			<if test="dictdataName != null" >dictdata_name,</if>
			<if test="dictdataValue != null" >dictdata_value,</if>
			<if test="isFixed != null" >is_fixed,</if>
			<if test="isCancel != null" >is_cancel,</if>
			<if test="parentId != null" >parent_id,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >#{id,jdbcType=INTEGER},</if>
			<if test="dictValue != null" >#{dictValue,jdbcType=VARCHAR},</if>
			<if test="dictdataName != null" >#{dictdataName,jdbcType=VARCHAR},</if>
			<if test="dictdataValue != null" >#{dictdataValue,jdbcType=VARCHAR},</if>
			<if test="isFixed != null" >#{isFixed,jdbcType=CHAR},</if>
			<if test="isCancel != null" >#{isCancel,jdbcType=CHAR},</if>
			<if test="parentId != null" >#{parentId,jdbcType=INTEGER},</if>
		</trim>
	</insert>
	
	<!-- update -->
	<update id="update" parameterType="com.xzit.ar.common.po.dict.DictionaryData">
		update dictionary_data
		<set >
			<if test="dictValue != null" >dict_value = #{dictValue,jdbcType=VARCHAR},</if>
			<if test="dictdataName != null" >dictdata_name = #{dictdataName,jdbcType=VARCHAR},</if>
			<if test="dictdataValue != null" >dictdata_value = #{dictdataValue,jdbcType=VARCHAR},</if>
			<if test="isFixed != null" >is_fixed = #{isFixed,jdbcType=CHAR},</if>
			<if test="isCancel != null" >is_cancel = #{isCancel,jdbcType=CHAR},</if>
			<if test="parentId != null" >parent_id = #{parentId,jdbcType=INTEGER},</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>