<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.origin.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.xzit.ar.common.po.origin.Activity" >
    <id column="act_id" property="actId" jdbcType="INTEGER" />
    <result column="act_name" property="actName" jdbcType="VARCHAR" />
    <result column="act_place" property="actPlace" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="act_num" property="actNum" jdbcType="INTEGER" />
    <result column="sign_num" property="signNum" jdbcType="INTEGER" />
    <result column="interests" property="interests" jdbcType="INTEGER" />
    <result column="leader_name" property="leaderName" jdbcType="VARCHAR" />
    <result column="leader_phone" property="leaderPhone" jdbcType="VARCHAR" />
    <result column="origin_id" property="originId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="state_time" property="stateTime" jdbcType="TIMESTAMP" />
    <result column="exp1" property="exp1" jdbcType="VARCHAR" />
    <result column="exp2" property="exp2" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xzit.ar.common.po.origin.Activity" extends="BaseResultMap" >
    <result column="act_desc" property="actDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    act_id, act_name, act_place, start_time, end_time, act_num, sign_num, interests, 
    leader_name, leader_phone, origin_id, user_id, state, state_time, exp1, exp2
  </sql>
  <sql id="Blob_Column_List" >
    act_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from activity
    where act_id = #{actId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where act_id = #{actId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xzit.ar.common.po.origin.Activity" >
    insert into activity (act_id, act_name, act_place, 
      start_time, end_time, act_num, 
      sign_num, interests, leader_name, 
      leader_phone, origin_id, user_id, 
      state, state_time, exp1, 
      exp2, act_desc)
    values (#{actId,jdbcType=INTEGER}, #{actName,jdbcType=VARCHAR}, #{actPlace,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{actNum,jdbcType=INTEGER}, 
      #{signNum,jdbcType=INTEGER}, #{interests,jdbcType=INTEGER}, #{leaderName,jdbcType=VARCHAR}, 
      #{leaderPhone,jdbcType=VARCHAR}, #{originId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{state,jdbcType=CHAR}, #{stateTime,jdbcType=TIMESTAMP}, #{exp1,jdbcType=VARCHAR}, 
      #{exp2,jdbcType=VARCHAR}, #{actDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xzit.ar.common.po.origin.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        act_id,
      </if>
      <if test="actName != null" >
        act_name,
      </if>
      <if test="actPlace != null" >
        act_place,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="actNum != null" >
        act_num,
      </if>
      <if test="signNum != null" >
        sign_num,
      </if>
      <if test="interests != null" >
        interests,
      </if>
      <if test="leaderName != null" >
        leader_name,
      </if>
      <if test="leaderPhone != null" >
        leader_phone,
      </if>
      <if test="originId != null" >
        origin_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="stateTime != null" >
        state_time,
      </if>
      <if test="exp1 != null" >
        exp1,
      </if>
      <if test="exp2 != null" >
        exp2,
      </if>
      <if test="actDesc != null" >
        act_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actId != null" >
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="actName != null" >
        #{actName,jdbcType=VARCHAR},
      </if>
      <if test="actPlace != null" >
        #{actPlace,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actNum != null" >
        #{actNum,jdbcType=INTEGER},
      </if>
      <if test="signNum != null" >
        #{signNum,jdbcType=INTEGER},
      </if>
      <if test="interests != null" >
        #{interests,jdbcType=INTEGER},
      </if>
      <if test="leaderName != null" >
        #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPhone != null" >
        #{leaderPhone,jdbcType=VARCHAR},
      </if>
      <if test="originId != null" >
        #{originId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="stateTime != null" >
        #{stateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exp1 != null" >
        #{exp1,jdbcType=VARCHAR},
      </if>
      <if test="exp2 != null" >
        #{exp2,jdbcType=VARCHAR},
      </if>
      <if test="actDesc != null" >
        #{actDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzit.ar.common.po.origin.Activity" >
    update activity
    <set >
      <if test="actName != null" >
        act_name = #{actName,jdbcType=VARCHAR},
      </if>
      <if test="actPlace != null" >
        act_place = #{actPlace,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actNum != null" >
        act_num = #{actNum,jdbcType=INTEGER},
      </if>
      <if test="signNum != null" >
        sign_num = #{signNum,jdbcType=INTEGER},
      </if>
      <if test="interests != null" >
        interests = #{interests,jdbcType=INTEGER},
      </if>
      <if test="leaderName != null" >
        leader_name = #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderPhone != null" >
        leader_phone = #{leaderPhone,jdbcType=VARCHAR},
      </if>
      <if test="originId != null" >
        origin_id = #{originId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="stateTime != null" >
        state_time = #{stateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exp1 != null" >
        exp1 = #{exp1,jdbcType=VARCHAR},
      </if>
      <if test="exp2 != null" >
        exp2 = #{exp2,jdbcType=VARCHAR},
      </if>
      <if test="actDesc != null" >
        act_desc = #{actDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xzit.ar.common.po.origin.Activity" >
    update activity
    set act_name = #{actName,jdbcType=VARCHAR},
      act_place = #{actPlace,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      act_num = #{actNum,jdbcType=INTEGER},
      sign_num = #{signNum,jdbcType=INTEGER},
      interests = #{interests,jdbcType=INTEGER},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      leader_phone = #{leaderPhone,jdbcType=VARCHAR},
      origin_id = #{originId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      state = #{state,jdbcType=CHAR},
      state_time = #{stateTime,jdbcType=TIMESTAMP},
      exp1 = #{exp1,jdbcType=VARCHAR},
      exp2 = #{exp2,jdbcType=VARCHAR},
      act_desc = #{actDesc,jdbcType=LONGVARCHAR}
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzit.ar.common.po.origin.Activity" >
    update activity
    set act_name = #{actName,jdbcType=VARCHAR},
      act_place = #{actPlace,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      act_num = #{actNum,jdbcType=INTEGER},
      sign_num = #{signNum,jdbcType=INTEGER},
      interests = #{interests,jdbcType=INTEGER},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      leader_phone = #{leaderPhone,jdbcType=VARCHAR},
      origin_id = #{originId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      state = #{state,jdbcType=CHAR},
      state_time = #{stateTime,jdbcType=TIMESTAMP},
      exp1 = #{exp1,jdbcType=VARCHAR},
      exp2 = #{exp2,jdbcType=VARCHAR}
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
</mapper>