<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.ar.common.mapper.user.UserJobMapper">
    <resultMap id="BaseResultMap" type="com.xzit.ar.common.po.user.UserJob">
        <id column="job_id" property="jobId" jdbcType="INTEGER"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <result column="job_unit" property="jobUnit" jdbcType="VARCHAR"/>
        <result column="job_date" property="jobDate" jdbcType="VARCHAR"/>
        <result column="job_desc" property="jobDesc" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="CHAR"/>
        <result column="state_time" property="stateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
		job_id, job_name, job_unit, job_date, job_desc, start_time, end_time, create_time, user_id, state, state_time
	</sql>

    <select id="getUserJobByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_job
        where user_id = #{user_id,jdbcType=INTEGER}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
      delete from user_job
      where job_id = #{jobId,jdbcType=INTEGER}
    </delete>

    <insert id="save" parameterType="com.xzit.ar.common.po.user.UserJob">
        insert into user_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobId != null">job_id,</if>
            <if test="jobName != null">job_name,</if>
            <if test="jobUnit != null">job_unit,</if>
            <if test="jobDate != null">job_date,</if>
            <if test="jobDesc != null">job_desc,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="state != null">state,</if>
            <if test="stateTime != null">state_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobId != null">#{jobId,jdbcType=INTEGER},</if>
            <if test="jobName != null">#{jobName,jdbcType=VARCHAR},</if>
            <if test="jobUnit != null">#{jobUnit,jdbcType=VARCHAR},</if>
            <if test="jobDate != null">#{jobDate,jdbcType=VARCHAR},</if>
            <if test="jobDesc != null">#{jobDesc,jdbcType=VARCHAR},</if>
            <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="state != null">#{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">#{stateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.xzit.ar.common.po.user.UserJob">
        update user_job
        <set>
            <if test="jobName != null">job_name = #{jobName,jdbcType=VARCHAR},</if>
            <if test="jobUnit != null">job_unit = #{jobUnit,jdbcType=VARCHAR},</if>
            <if test="jobDate != null">job_date = #{jobDate,jdbcType=VARCHAR},</if>
            <if test="jobDesc != null">job_desc = #{jobDesc,jdbcType=VARCHAR},</if>
            <if test="startTime != null">start_time = #{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">end_time = #{endTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="state != null">state = #{state,jdbcType=CHAR},</if>
            <if test="stateTime != null">state_time = #{stateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where job_id = #{jobId,jdbcType=INTEGER}
    </update>

</mapper>